{% extends 'surat.html' %}
{% load static %}

{% block surat_content %}
    <div class="isi-surat">
        <p>&emsp;Yang bertanda tangan di bawah ini Kepala Desa Kabupaten Bandung Cileunyi, dengan ini menerangkan bahwa:</p>
        <div class="d-flex">
            <div>
                <ul>
                    <li>NIK</li>
                    <li>Nama</li>
                    <li>Jenis Kelamin</li>
                    <li>Tempat/Tgl. Lahir</li>
                    <li>Kewarganegaraan</li>
                    <li>Alamat</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>:</li>
                    <li>:</li>
                    <li>:</li>
                    <li>:</li>
                    <li>:</li>
                    <li>:</li>
                </ul>
            </div>

            <div>
                <ul>
                    <li>{{ user.nik }}</li>
                    <li>{{ user.first_name }} {{ user.last_name }}</li>
                    <li>{{ user.jenis_kelamin }}</li>
                    <li>{{ user.ttl }}</li>
                    <li>{{ user.kewarganegaraan }}</li>
                    <li>{{ user.alamat }}</li>
                </ul>
            </div>
        </div>
        <p>Sesuai dengan keterangan yang bersangkutan benar bahwa benar yang bersangkutan Keluarga Tidak Mampu. </p>
        <p>Surat keterangan ini untuk persyaratan Bantuan Kesehatan atas Nama: </p>
        <div class="d-flex">
            <div>
                <ul>
                    <li>Nama Anggota</li>
                    <li>Hubungan</li>
                    <li>Keterangan</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>:</li>
                    <li>:</li>
                    <li>:</li>
                </ul>
            </div>

            <div>
                <ul>
                    <li>{{ data.nama_anggota_keluarga }}</li>
                    <li>{{ data.hubungan }}</li>
                    <li>{{ data.keterangan }}</li>
                </ul>
            </div>
        </div>
        <p>Demikianlah Surat Keterangan ini kami buat dengan sebenernya untuk dipergunakan sebagaimana mestinya.</p>
    </div>

    {% include '../include/surat/ttd.html' %}
{% endblock %}