{% extends 'base.html' %}
{% load static %}
{% block pagecontent %}
        <div class="bg-primary bg-pattern" style="height: 100vh;">
            <div class="account-pages pt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center mb-5">
                                <a href="{% url 'index' %}" class="logo"><img src="{% static 'assets/images/logo-light.png' %}" height="24" alt="logo"></a>
                                <h5 class="font-size-16 text-white-50 mb-4">Layanan Masyarakat</h5>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
    
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            {% if messages %}
                            {% for message in messages %}
                            <div{% if message.tags != 'error' %} class="alert alert-{{ message.tags }}" {% else %} class="alert alert-danger" {% endif %}>{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                            <div class="card">
                                <div class="card-body p-4">
                                    <div class="p-2">
                                        <h5 class="mb-5 text-center">Ganti Password.</h5>
                                        <form class="form-horizontal" method="POST" action="{% url 'send_change_password' %}">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="hidden" value="{{ id_change }}" name="id_change">
                                                    <div class="form-group mb-4">
                                                        <label for="username">Password</label>
                                                        <input type="password" required class="form-control" name="password" placeholder="Enter password">
                                                    </div>
                                                    
                                                    <div class="mt-4">
                                                        <button class="btn btn-success btn-block waves-effect waves-light" type="submit">Ganti</button>
                                                    </div>
                                                    <div class="mt-4 text-center">
                                                        <a href="{% url 'register' %}" class="text-muted"><i class="mdi mdi-account-circle mr-1"></i> Buat Akun Baru?</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <a href="/login" class="btn btn-light btn-sm"><- Kembali</a>

                        </div>
                        
                    </div>
                    <!-- end row -->
                    
                </div>

            </div>
        </div>
        {% endblock %}
