{% load static %}
<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'dashboard_penduduk_view' %}">
                            <i class="mdi mdi-storefront mr-2"></i>Dashboard
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>