{% load static %}
<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">
                    {% with url_name=request.resolver_match.url_name %}
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'index' %}active{% endif %}" href="{% url 'dashboard_petugas_view' %}">
                            <i class="mdi mdi-storefront mr-2"></i>Dashboard
                        </a>
                    </li>
                    

                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'index' %}active{% endif %}" href="{% url 'list_done' %}">
                            <i class="mdi mdi-playlist-check mr-2"></i>List Surat Selesai
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'index' %}active{% endif %}" href="{% url 'data_user' %}">
                            <i class="mdi mdi-account-multiple-outline mr-2"></i>Data Penduduk
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'index' %}active{% endif %}" href="{% url 'report' %}">
                            <i class="mdi mdi-printer mr-2"></i>Report Laporan
                        </a>
                    </li>
                    {% endwith %}
                </ul>
            </div>
        </nav>
    </div>
</div>